* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    background: linear-gradient(to bottom, #080846, #86b0c0);
}

#quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 3px;
    border: none;
}

#quote {
    display: flex;
    width: 280px;
    height: 140px;
    margin-bottom: 0px;
}

#quote-icon {
    position: relative;
    bottom: 16px;
    font-size: 2rem;
    color: #080846;
}

#quote-text {
    color: #080846;
    margin-left: 0;
    font-size: 1.5rem;
    margin-top: 2px;
    text-align: center;
    margin-bottom: 0px;
}

#quote-author {
    width: 300px;
    text-align: end;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#quote-author span {
    font-size: 1rem;
    color: #080846;
}

#btns {
    padding-right: 8px;
    padding-left: 8px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#social-btns {
    margin-right: auto;
    height: 40px;
}

#social-btns i {
    color: #080846;
    margin-right: 3px;
    font-size: 2.25rem;
    cursor: pointer;
}

#new-btn {
    font-size: 0.8rem;
    color: white;
    background-color: #080846;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

#new-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#copyright {
    width: 450px;
    height: 15px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin-top: 12px;
}



@media (min-width: 375px) {
    #quote-container {
        width: 355px;
    }
}

@media (min-width: 480px) {
    #quote-container {
        width: 420px;
        height: 300px;
        padding: 0;
        margin: 0;
        align-items: none;
        justify-content: none;
    }

    #quote-author {
        width: 100%;
    }

    #quote {
        padding: 20px 20px;
        width: 100%;
    }

    #quote-text {
        margin: 10px 10px 0px 20px;
        text-align: start;
    }

    #quote-author {
        padding-right: 40px;
    }

    #quote-icon {
        bottom: 20px;
        left: 24px;
        font-size: 2rem;
        color: #080846;
    }

    #btns {
        width: 100%;
        padding: 0px 40px;
    }
}

@media (min-width: 540px) {
    #quote-container {
        width: 500px;
    }

    #quote {
        width: 100%;
    }

    #quote-text {
        text-align: center;
    }
}